/*
    styles.scss

    import all styles into here and generate a single stylesheet for everything.
*/
/*
    Base colours

    Coolors Exported Palette - coolors.co/0d1b2a-dee5e5-93a3b1-119da4-f9aecb
*/
/*
    Font defaults

    Looking for font sizes? They're in 00-vars/_sizes.scss.
*/
body {
  font-family: "Lato", sans-serif;
  background-color: #dee5e5;
  color: #0d1b2a; }

h1,
h2,
h3 {
  font-weight: 600; }
