/**
 * Utilities - Display
 *
 */

.no-display {
    display: none !important;
}

@each $point, $val in $mq-breakpoints {
    .no-display--from-#{$point} {
        @include mq($from: $point) {
            display: none !important;
        }
    }

    .no-display--to-#{$point} {
        @include mq($until: $point) {
            display: none !important;
        }
    }
}
