html {
    // font: font-style font-variant font-weight font-size/line-height font-family;
    font: 16px/1.2 sans-serif;
    color: $colour-text-default;
}

a {
    color: $colour-hyperlink-default;
    text-decoration: none;

    @include hocus() {
        color: $colour-hyperlink-hover;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

h1 {
    @include rem(font-size, 24px);

    @include mq($from: tablet) {
        @include rem(font-size, 28px);
    }
}

h2 {
    @include rem(font-size, 22px);

    @include mq($from: tablet) {
        @include rem(font-size, 24px);
    }
}

h3 {
    @include rem(font-size, 20px);

    @include mq($from: tablet) {
        @include rem(font-size, 22px);
    }
}

h4 {
    @include rem(font-size, 18px);
}

small {
    @include rem(font-size, 12px);

    @include mq($from: tablet) {
        @include rem(font-size, 14px);
    }
}

blockquote {
    @include rem(padding-left, 10px);
    @include rem(border-left, 3px solid $colour-meta);
}
