/*
    Base colours

    Coolors Exported Palette - coolors.co/0d1b2a-d8e2dc-93a3b1-119da4-e5446d
*/
$colour-meta: rgba(255, 255, 255, 1);
$colour-texas: rgba(13, 27, 42, 1);
$colour-wyoming: rgba(216, 226, 220, 1);
$colour-wash: rgba(147, 163, 177, 1);
$colour-tucker: rgba(17, 157, 164, 1);
$colour-donut: rgba(249, 174, 203, 1);

$colour-font-default: $colour-texas;
$colour-body-bg-default: $colour-wyoming;