/*
    block-content mixin

    If we have an element that we need to take up a container, e.g. images,
    we cna use this to absolutely position it inside the parent.
    We can also define if it's a pseudoelement too to ensure that we can
    use this mixin for those too, instead of having to repeat ourselves too often.

    @param $pseudo: if the element is a pseudo-element or not. If it is, ensure we
        render out an empty `content` element.
*/

@mixin block-content ($pseudo: false) {
    @if ($pseudo == true) {
        content: '';
    }
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}