/*
    Brand colours

    Colours specific to the brands and icons we're referencing.

    Keeps the main colours stylesheet out of trouble.
*/

$colour-css3: #1572B6;
$colour-email: rebeccapurple;
$colour-git: #F05032;
$colour-github: #000000;
$colour-graphcool: #27AE60;
$colour-graphql: #E10098;
$colour-gulp: #DA4648;
$colour-html5: #E34F26;
$colour-illustrator: #FF7C00;
$colour-lad: #EB4136;
$colour-linkedin: #0077B5;
$colour-mailchimp: #239AB9;
$colour-nodejs: #339933;
$colour-photoshop: #00C8FF;
$colour-react: #61DAFB;
$colour-sass: #CC6699;
$colour-twitter: #1DA1F2;