/*
    Base colours

    Coolors Exported Palette - coolors.co/0d1b2a-dee5e5-93a3b1-119da4-f9aecb
*/
$colour-meta: rgb(255, 255, 255);
$colour-texas: rgb(13, 27, 42);
$colour-wyoming: rgb(222, 229, 229);
$colour-wash: rgb(147, 163, 177);
$colour-tucker: rgb(17, 157, 164);
$colour-donut: rgb(249, 174, 203);

$colour-text-default: $colour-texas;
$colour-body-bg-default: $colour-wyoming;