/*
    Font defaults

    Looking for font sizes? They're in 00-vars/_sizes.scss.
*/
$font-family-default: 'Lato', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-display: 600;