/*
    Font defaults

    Looking for font sizes? They're in 00-vars/_sizes.scss.
*/
$font-family-body: 'Lato', sans-serif;
$font-family-display: 'Atma', cursive;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-display: 600;