/*
    Sizing
*/
// default
$sizing-default: 1rem;

// font sizing
$sizing-font-xx-large: ($sizing-default * 1.5);
$sizing-font-x-large: ($sizing-default * 1.25);
$sizing-font-large: ($sizing-default * 1.125);
$sizing-font-regular: $sizing-default;
$sizing-font-small: ($sizing-default / 1.25);
$sizing-font-x-small: ($sizing-default/ 1.5);
$sizing-font-xx-small: ($sizing-default / 2);

// line-heights
$sizing-line-height-default: 1.2;
$sizing-line-height-large: 1.5;

// Spacing
$sizing-spacing-x-large: ($sizing-default * 2.5);
$sizing-spacing-large: ($sizing-default * 2);
$sizing-spacing-regular: $sizing-default;
$sizing-spacing-small: ($sizing-default / 2);
$sizing-spacing-x-small: ($sizing-default / 4);

// Borders
$sizing-border-default: 1px;
$sizing-border-radius: ($sizing-default / 4);
