/*
    Transitions

    Keeping transitional effects consistent sitewide by keeping the
    default styles here.
*/

$transition-timing-default: 0.2s;
$transition-anim-default: ease-out;

$transition-default: $transition-timing-default $transition-anim-default;