/*
 * Components - Header
 */
@import '../00-mixins/all';
@import '../00-variables/all';

.header {
    margin-bottom: 1.45rem;
    background-color: $colour-header-bg;
    color: $colour-header-text;

    @include mq($from: tablet) {
        padding-right: 0;
        padding-left: 0;
    }

    a {
        color: inherit;

        @include hocus() {
            color: inherit;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__title {
    @include rem(margin, 10px);
    flex: 1 0 auto;
    order: 2;

    @include mq($from: tablet) {
        margin-left: auto;
    }
}

.btn--menu {
    border-color: $colour-meta;
    background-color: transparent;
    color: $colour-meta;
    order: 1;

    @include hocus() {
        background-color: $colour-meta;
        color: $colour-texas;
    }

    @include mq($from: tablet) {
        display: none;
    }
}

.btn--social {
    order: 3;
}
