@import '../00-mixins/all';
@import '../00-variables/all';

.nav {
    flex: 0 1 auto;
    order: 1;

    @include mq($until: tablet) {
        @include block-content(false);
        @include transition(transform);
        margin: 0;
        padding: 1rem;
        background-color: $colour-header-bg;
        transform: translateX(-100%);
    }

    &.active {
        @include mq($until: tablet) {
            transform: translateX(0);
        }
    }

    .h-list {
        height: 100%;
    }

    .h-list__item {
        @include rem(margin-bottom, 8px);

        @include mq($from: tablet) {
            height: 100%;
            position: relative;
            margin-bottom: 0;
        }
    }

    a {
        display: block;

        @include mq($from: tablet) {
            @include transition(background-color);
            @include rem(padding, 18px 10px 16px);
            height: 100%;
        }

        &:hover {
            @include mq($from: tablet) {
                background-color: lighten($colour-texas, 20%);
            }
        }
    }
}

.nav__title {
    margin-bottom: 1rem;

    @include mq($from: tablet) {
        display: none;
    }
}
