@import '../00-mixins/all';
@import '../00-variables/all';

.nav {
    flex: 1 1 auto;
    order: 1;

    @include mq($until: tablet) {
        @include block-content(false);
        @include transition(transform);
        margin: 0;
        padding: 1rem;
        background-color: $colour-header-bg;
        transform: translateX(-100%);
    }

    &.active {
        @include mq($until: tablet) {
            transform: translateX(0);
        }
    }

    .h-list__item {
        @include rem(margin-bottom, 8px);

        @include mq($from: tablet) {
            @include rem(padding, 10px);
            margin-bottom: 0;
        }
    }
}

.nav__title {
    margin-bottom: 1rem;

    @include mq($from: tablet) {
        display: none;
    }
}
