/**
 * Components - Social Nav
 *
 * Social navigation items
 */

@import '../00-mixins/all';
@import '../00-variables/all';

.nav--social {
    flex: 0 1 auto;
    order: 3;

    @include mq($until: tablet) {
        transform: translateX(200%);
    }

    .h-list__item {
        @include mq($from: tablet) {
            margin-bottom: 0;
        }
    }

    svg {
        @include rem(width, 20px);
        @include rem(height, 20px);
        @include transition(fill);
        vertical-align: bottom;
        fill: $colour-header-icon-default;
    }

    a:hover svg {
        fill: $colour-header-icon-hover;
    }
}
