/**
 * Components - Social Nav
 *
 * Social navigation items
 */

@import '../00-mixins/all';
@import '../00-variables/all';

.nav--social {
    flex: 0 1 auto;

    @include mq($until: tablet) {
        transform: translateX(200%);
    }

    .h-list__item {
        @include rem(margin-bottom, 8px);
        position: relative;

        @include mq($from: tablet) {
            @include rem(padding, 10px);
            margin-bottom: 0;
        }
    }

    svg {
        @include rem(margin-right, 10px);
        @include rem(width, 20px);
        @include rem(height, 20px);
        @include transition(fill);
        vertical-align: bottom;
        fill: $colour-header-icon-default;
    }

    a:hover svg {
        fill: $colour-header-icon-hover;
    }
}
