/*
    Colours
    Coolors Exported Palette - https://coolors.co/0d1b2a-e8e8e8-93a3b1-119da4-b3094b
*/
// Base colours
// Primary
$colour-texas: rgb(13, 27, 42);
$colour-wyoming: rgb(232, 232, 232);
$colour-wash: rgb(147, 163, 177);
$colour-tucker: rgb(17, 157, 164);
$colour-grif: rgb(226, 143, 9);

// Secondary
$colour-meta: rgb(247, 247, 247);
$colour-carolina: darken($colour-tucker, 10%);
$colour-caboose: rgb(9, 93, 179);
$colour-donut: rgb(249, 174, 203);

// Colour defaults - Text
$colour-text-default: $colour-texas;
$colour-hyperlink-default: $colour-tucker;
$colour-hyperlink-hover: $colour-carolina;

// Colour defaults - Background
$colour-body-bg-default: $colour-meta;

// Colour defaults - Drop shadow
$colour-drop-shadow-default: rgba($colour-texas, 0.4);
$colour-drop-shadow-light: rgba($colour-wash, 0.4);

// Colour defaults - Icon
$colour-icon-default: rgba($colour-texas, 0.75);

// Colour defaults - Buttons
// Primary
$colour-btn-primary-text-default: $colour-meta;
$colour-btn-primary-bg-default: $colour-tucker;
$colour-btn-primary-border-default: $colour-btn-primary-bg-default;
$colour-btn-primary-bg-hover: $colour-carolina;
$colour-btn-primary-border-hover: $colour-btn-primary-bg-hover;
$colour-btn-primary-text-hover: $colour-btn-primary-text-default;

// Secondary
$colour-btn-secondary-bg-default: transparent;
$colour-btn-secondary-border-default: $colour-grif;
$colour-btn-secondary-text-default: $colour-grif;
$colour-btn-secondary-bg-hover: $colour-grif;
$colour-btn-secondary-text-hover: $colour-meta;

// navigation
$colour-nav-border-default: transparent;
$colour-nav-item-active: $colour-tucker;
$colour-nav-border-hover: $colour-nav-item-active;
$colour-nav-item: $colour-texas;

// header
$colour-header-bg: $colour-meta;
$colour-header-shadow: $colour-drop-shadow-light;

// footer
$colour-footer-text: $colour-wash;
$colour-footer-bg: $colour-wyoming;

// sections
$colour-container-intro-bg: rgba($colour-wyoming, 0.2);
$colour-container-social-bg: rgba($colour-wyoming, 0.4);
