.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $sizing-spacing-small;
    background-color: $colour-header-bg;
    box-shadow: 0 $sizing-spacing-x-small 3px $colour-header-shadow;

    .logo {
        width: 50px;
        height: 50px;
        background-color: $colour-wash;
    }
}