/*
    Breakpoints

    A list of useful breakpoints for media queries and suchlike.
*/

:root {
    --bp-x-small: 320px;
    --bp-small: 600px;
    --bp-med: 768px;
    --bp-large: 1024px;
    --bp-x-large: 1280px;
}
