/*
    Colours
    Coolors Exported Palette - coolors.co/0d1b2a-e8e8e8-93a3b1-119da4-b3094b
*/
:root {
    /* Base colours - Primary */
    --colour-texas: rgb(13, 27, 42);
    --colour-wyoming: rgb(232, 232, 232);
    --colour-wash: rgb(147, 163, 177);
    --colour-tucker: rgb(17, 157, 164);
    --colour-simmons: rgb(179, 9, 75);

    /* Base colours - Secondary*/
    --colour-meta: rgb(247, 247, 247);
    --colour-carolina: rgb(12, 113, 118);
    --colour-caboose: rgb(9, 93, 179);
    --colour-donut: rgb(249, 174, 203);
}
