.footer {
    align-self: flex-end;
    margin-top: $sizing-spacing-large;
    width: 100vw;
    background-color: $colour-footer-bg;
    text-align: center;
    font-size: $sizing-font-small;
    color: $colour-footer-text;
}