/*
    Navigation

    Default navigation styles

    1. Display: block applied as links are usually inline, so any padding/margin applied
        makes it sit weird.
*/

.nav {
    .h-list__item a {
        display: block; // [1]
        padding-top: $sizing-spacing-regular;
        padding-right: $sizing-spacing-regular;
        padding-bottom: ($sizing-spacing-regular - $sizing-spacing-x-small);
        padding-left: $sizing-spacing-regular;
        border-bottom: $sizing-spacing-x-small solid $colour-nav-border-default;
        color: $colour-nav-item;
        text-decoration: none;
        font-weight: $font-weight-bold;

        &:hover,
        &:focus,
        &:active,
        &:target {
            color: $colour-nav-item-active;
            border-color: $colour-nav-border-hover;
        }
    }
}