/*
    Buttons

    Base styling for buttons

    Notes:
    1. Adds a nice smooth transition effect for all the colours affected on every button.
    2. Also keeps <button /> and <a class="button" /> styles consistent by displaying them
        the same.
    3. Makes sure it's obvious that the buttons can be clicked on and keep
        real <button /> elements and <a class="button" /> links consistent.
    4. Each button has it's own border colours but the styles are otherwise consistent
*/

.button {
    transition: background-color $transition-default,
                border $transition-default,
                color $transition-default; // [1]
    text-decoration: none; // [2]
    cursor: pointer; // [3]
    font-size: $sizing-font-regular;
    padding: $sizing-spacing-base;
    border-width: $sizing-border-default; // [4]
    border-style: solid; // [4]
    border-radius: $sizing-border-radius; // [4]
    display: inline-block; // [2]
}

.button--primary {
    background-color: $colour-btn-primary-bg-default;
    color: $colour-btn-primary-text-default;
    border-color: $colour-btn-primary-border-default;

    &:hover,
    &:focus,
    &:active {
        background-color: $colour-btn-primary-bg-hover;
        color: $colour-btn-primary-text-hover;
        border-color: $colour-btn-primary-border-hover;
    }
}

.button--secondary {
    background-color: $colour-btn-secondary-bg-default;
    color: $colour-btn-secondary-text-default;
    border-color: $colour-btn-secondary-border-default;

    &:hover,
    &:focus,
    &:active {
        background-color: $colour-btn-secondary-bg-hover;
        color: $colour-btn-secondary-text-hover;
    }
}