/*
    Container styles

    We may want to style a container but any direct child element needs to sit centrally
    so we use this to ensure only the child has the auto-margins on either side
    and fits to a max-width. Means we have - theoretically - fewer wrappers to contend with.
*/

.container {
    width: 100vw;
    align-self: flex-start;

    > * {
        margin: 0 auto;
        max-width: $bp-x-large;
        padding: $sizing-spacing-regular;

        @media only screen and (min-width: $bp-x-large) {
            padding-right: 0;
            padding-left: 0;
        }
    }
}