body {
    font-family: $font-family-default;
    background-color: $colour-body-bg-default;
    color: $colour-text-default;
}

a {
    color: $colour-hyperlink-default;

    &:hover,
    &:focus,
    &:active {
        color: $colour-hyperlink-hover;
    }
}

h1,
h2,
h3 {
    font-weight: $font-weight-display;
}