img {
    max-width: 100%;
    height: auto;
}

.icon {
    width: 32px;
    height: 32px;
    fill: $colour-icon-default;
    transition: fill $transition-default;
}

.icon--missguided {
    width: 100px;
    height: 23px;
}

.icon--ladbiblegroup {
    width: 70px;
    height: 70px;

    &:hover .st1 {
        fill: $colour-lad;
    }
}

.icon--linkedin:hover {
    fill: $colour-linkedin;
}

.icon--github:hover {
    fill: $colour-github;
}

.icon--twitter:hover {
    fill: $colour-twitter;
}

.icon--email:hover {
    fill: $colour-email;
}