/*
    Normalise

    1. Adjusts the box-sizing as per https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/.
    2. Prevent adjustments of font size after orientation changes in iOS. From http://necolas.github.io/normalize.css/.

*/

html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%; // [1]
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}